@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Open+Sans:wght@300;400&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.content{
    background-color: rgba(19, 20, 20, 0.486);
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 70px;
    width: 70%;
    margin: auto;
    color: rgb(247, 243, 243);
    margin-bottom: 100px;
    font-weight: bolder;
    height: fit-content;
}